* {
  box-sizing: border-box;
}

.pet__sprite {
  display: block;
  width: 132px;
  height: 143px;
  background-repeat: no-repeat;
  background-position: 0 0;
  pointer-events: none;
  will-change: background-position;
}